body {
  // background: url(/bg.jpg);
}
#__nuxt {
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  height: 100vh;
}
.form {
  color: #fff;
  & .form-control {
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    line-height: normal;
    font-size: 0.8571em;
    background-color: rgba(255, 255, 255, 0.1);
    color:#FFFFFF;
    &::placeholder {
      color: #ebebeb;
      opacity: 1;
    }
  }
}